.card-title a {
	color: #2c2c2c;
}
.card-title a:hover, a:focus {
    color: #6f6f6f;
    text-decoration: none; 
}
.card-title {
	margin-bottom: 7px;
	text-align: left;
	font-size: 1rem;
}
.card .price {
    font-weight: bold;
    font-size: 20px;
}
.rating {
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0 24%;
	text-align: center;
	width: 100%;
}
.rating i {
	float: left;
	font-size: 20px;
	margin: 0 3px 0 0;
	width: auto;
}
.navbar {
    border-radius: 0px;
    padding: unset;
}
